.Nav {
  background-color: #56cc9d;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
}

.Nav-Link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 5px;
}

.Nav-heading {
  color: white;
  text-decoration: none;
  font-weight: bold;
}